
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.electionpage-Caq {
  background-color: #001024;
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;

  .dashboardnavbar-Lh3 {
    position: absolute;
    left: 53.7rem;
    top: 7.5rem;
    display: flex;
    align-items: flex-start;
    border-radius: 0.5rem;
    width: 74.6rem;
    height: 3.875rem;

    .auto-group-rmu9-U2Z {
      flex-shrink: 0;
      margin-right: 9.1rem;
      width: 33.7rem;
      height: 100%;
      position: relative;

      .elections-oad {
        white-space: nowrap;
        top: 0;
        font-weight: 400;
        line-height: 1.37;
        color: #ffffff;
        font-family: DM Serif Display, 'Source Sans Pro';
        width: 10.1rem;
        height: 3.5rem;
        position: absolute;
        left: 23.6rem;
        font-size: 2.5rem;
      }
      .group-7-WE9 {
        font-family: DM Serif Display, 'Source Sans Pro';
        left: 0;
        top: 0;
        font-size: 2.5rem;
        font-weight: 400;
        color: #ffffff;
        border-bottom: solid 0.3rem #005ac7;
        box-sizing: border-box;
        width: 33.7rem;
        height: 3.875rem;
        position: absolute;
        line-height: 1.37;
        white-space: nowrap;
      }
    }
    .contact-ajo {
      color: #ffffff;
      font-family: DM Serif Display, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 9.1rem;
      font-size: 2.5rem;
      font-weight: 400;
      line-height: 1.37;
    }
    .votebutton-WdT {
      flex-shrink: 0;
      width: 14rem;
      height: 3.5rem;
      position: relative;
      border-radius: 0.5rem;

      .rectangle-22-4Q5 {
        height: 3.4rem;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #015fc7;
        border-radius: 0.5rem;
        width: 14rem;
      }
      .vote-n5B {
        left: 4.5rem;
        line-height: 1.37;
        color: #ffffff;
        font-family: DM Serif Display, 'Source Sans Pro';
        width: 4.9rem;
        height: 3.5rem;
        position: absolute;
        white-space: nowrap;
        top: 0;
        font-size: 2.5rem;
        font-weight: 400;
      }
    }
  }
  .upcoming-elections--fem {
    white-space: nowrap;
    width: 23.2rem;
    left: 21.6rem;
    line-height: 1.37;
    font-family: DM Serif Display, 'Source Sans Pro';
    font-weight: 400;
    color: #ffffff;
    height: 3.5rem;
    position: absolute;
    top: 24.1rem;
    font-size: 2.5rem;
  }
  .auto-group-ohj5-yQZ {
    align-items: center;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 106.7rem;
    position: absolute;
    left: 21.6rem;
    background-color: #c4c4c4;
    padding: 1.5rem 5.2rem 1.3rem 2.7rem;
    height: 6.3rem;
    top: 29.5rem;
    display: flex;

    .up-state-election--4gu {
      font-size: 2.5rem;
      font-weight: 400;
      line-height: 1.37;
      color: #000000;
      font-family: DM Serif Display, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 67.5rem;
    }
    .item-02-04-2022-av9 {
      line-height: 1.37;
      color: #000000;
      font-family: DM Serif Display, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 2.5rem;
      font-weight: 400;
    }
  }
  .other-elections--HpZ {
    font-size: 2.5rem;
    line-height: 1.37;
    color: #ffffff;
    white-space: nowrap;
    height: 3.5rem;
    position: absolute;
    left: 22.3rem;
    font-family: DM Serif Display, 'Source Sans Pro';
    width: 18.9rem;
    top: 40rem;
    font-weight: 400;
  }
  .group-11-bKT {
    position: absolute;
    left: 21.6rem;
    display: flex;
    align-items: center;
    background-color: #c4c4c4;
    box-sizing: border-box;
    padding: 1.5rem 4.2rem 1.2rem 1.6rem;
    width: 106.7rem;
    height: 6.3rem;
    top: 45.4rem;
    border-radius: 0.5rem;

    .manipur-state-election--u5F {
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 62.5rem 0.1rem 0rem;
      font-size: 2.5rem;
      font-weight: 400;
      line-height: 1.37;
      color: #000000;
      font-family: DM Serif Display, 'Source Sans Pro';
    }
    .item-04-04-2022-ckM {
      line-height: 1.37;
      color: #000000;
      font-family: DM Serif Display, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-top: 0.1rem;
      font-size: 2.5rem;
      font-weight: 400;
    }
  }
  .group-10-iYV {
    align-items: center;
    padding: 1.5rem 4.2rem 1.3rem 1.6rem;
    height: 6.3rem;
    left: 21.6rem;
    top: 55.2rem;
    display: flex;
    background-color: #c4c4c4;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 106.7rem;
    position: absolute;

    .chhatishgarh-state-election--Rho {
      flex-shrink: 0;
      margin-right: 57.3rem;
      font-size: 2.5rem;
      font-weight: 400;
      line-height: 1.37;
      color: #000000;
      font-family: DM Serif Display, 'Source Sans Pro';
      white-space: nowrap;
    }
    .item-12-04-2022-Z3K {
      color: #000000;
      font-family: DM Serif Display, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 2.5rem;
      font-weight: 400;
      line-height: 1.37;
    }
  }
  .group-9-GiR {
    padding: 1.5rem 4.3rem 1.3rem 1.6rem;
    height: 6.3rem;
    top: 65rem;
    background-color: #c4c4c4;
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 106.7rem;
    position: absolute;
    left: 21.6rem;

    .bangluru-state-election--nRs {
      font-weight: 400;
      line-height: 1.37;
      color: #000000;
      font-family: DM Serif Display, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 62.2rem;
      font-size: 2.5rem;
    }
    .item-20-04-2022-7j3 {
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 2.5rem;
      font-weight: 400;
      line-height: 1.37;
      color: #000000;
      font-family: DM Serif Display, 'Source Sans Pro';
    }
  }
  .group-8-Rzd {
    box-sizing: border-box;
    position: absolute;
    top: 74.8rem;
    align-items: center;
    display: flex;
    background-color: #c4c4c4;
    border-radius: 0.5rem;
    padding: 1.3rem 4.2rem 1.5rem 1.6rem;
    width: 106.7rem;
    height: 6.3rem;
    left: 21.6rem;

    .gurgaon-municipal-corporation-wCH {
      color: #000000;
      font-family: DM Serif Display, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 53.7rem;
      font-size: 2.5rem;
      font-weight: 400;
      line-height: 1.37;
    }
    .item-26-04-2022-GEZ {
      font-family: DM Serif Display, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 2.5rem;
      font-weight: 400;
      line-height: 1.37;
      color: #000000;
    }
  }
}
