
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  /* Add your styles for screens smaller than 768px here */
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144.2rem;
}
.home-zoo {
  width: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;

  .header-jmP {
    width: 144rem;
    height: 102.4rem;
    overflow: hidden;
    position: relative;
    background-color: #000000;
    flex-shrink: 0;
    margin: 0rem 0.2rem 1.5rem 0rem;

    .topmain-eNZ {
      height: 124.2rem;
      display: flex;
      align-items: center;
      width: 131.4rem;

      .unsplash-la1vawacjji-PL9 {
        margin-right: 10.4rem;
        width: 69.9rem;
        height: 124.2rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .auto-group-wlez-upH {
        flex-direction: column;
        flex-shrink: 0;
        margin: 23.2rem 0rem 46.4rem 0rem;
        width: 51.1rem;
        height: calc(100% - 69.6rem);
        align-items: flex-end;
        display: flex;

        .auto-group-gshb-RXj {
          column-gap: 5.2rem;
          align-items: center;
          flex-shrink: 0;
          margin-bottom: 20.5rem;
          height: 3.5rem;
          display: flex;

          .about-MAV {
            line-height: 1.37;
            color: #ffffff;
            font-family: DM Serif Display, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.5rem;
            font-weight: 400;
          }
          .contact-oAu {
            font-size: 2.5rem;
            font-weight: 400;
            line-height: 1.37;
            color: #ffffff;
            font-family: DM Serif Display, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .loginbutton-8ys {
            cursor: pointer;
            position: relative;
            border-radius: 0.6rem;
            flex-shrink: 0;
            width: 11.9rem;
            height: 100%;

            .rectangle-9-6A1 {
              width: 11.9rem;
              height: 3.4rem;
              position: absolute;
              left: 0;
              top: 0;
              background-color: #015fc7;
              border-radius: 0.6rem;
            }
            .login-1nm {
              height: 3.5rem;
              position: absolute;
              font-size: 2.5rem;
              font-weight: 400;
              color: #ffffff;
              white-space: nowrap;
              width: 6.2rem;
              left: 2.9rem;
              top: 0;
              line-height: 1.37;
              font-family: DM Serif Display, 'Source Sans Pro';
            }
          }
        }
        .head-EfX {
          flex-shrink: 0;
          width: 100%;
          display: flex;
          flex-direction: column;

          .quotes-nh3 {
            width: 48.3rem;
            height: 19.9rem;
            position: relative;
            flex-shrink: 0;
            margin-bottom: 4.8rem;

            .be-a-part-of-decision-hp1 {
              font-size: 4.8rem;
              color: #ffffff;
              font-family: DM Serif Display, 'Source Sans Pro';
              width: 43.1rem;
              height: 6.6rem;
              position: absolute;
              top: 0;
              left: 0;
              font-weight: 400;
              line-height: 1.37;
              white-space: nowrap;
            }
            .vote-today-RED {
              left: 0;
              top: 6.3rem;
              font-family: DM Serif Display, 'Source Sans Pro';
              white-space: nowrap;
              color: #015fc7;
              width: 48.3rem;
              height: 13.6rem;
              position: absolute;
              font-size: 9.9rem;
              font-weight: 400;
              line-height: 1.37;
            }
          }
          .buttons-hxR {
            height: 5.9rem;
            display: flex;
            align-items: center;
            border-radius: 1.4rem;
            flex-shrink: 0;
            margin-left: 0.7rem;
            width: calc(100% - 0.7rem);

            .auto-group-1rmk-qoj {
              width: 23.4rem;
              height: 100%;
              font-size: 2.5rem;
              align-items: center;
              background-color: #0160c8;
              border-radius: 1.4rem;
              margin-right: 3.6rem;
              font-weight: 400;
              font-family: Outfit, 'Source Sans Pro';
              justify-content: center;
              line-height: 1.26;
              color: #ebeced;
              white-space: nowrap;
              display: flex;
              flex-shrink: 0;
            }
            .auto-group-q1u7-hqw {
              height: 100%;
              line-height: 1.26;
              align-items: center;
              border-radius: 1.4rem;
              font-size: 2.5rem;
              white-space: nowrap;
              background-color: #004ea3;
              flex-shrink: 0;
              color: #ffffff;
              font-family: Outfit, 'Source Sans Pro';
              display: flex;
              justify-content: center;
              width: 23.4rem;
              font-weight: 400;
            }
          }
        }
      }
    }
  }
  .features-aPw {
    background-color: #ffffff;
    flex-shrink: 0;
    margin-bottom: 3.6rem;
    box-sizing: border-box;
    padding: 16rem 19.5rem 9.9rem 19.5rem;
    width: 144rem;
    overflow: hidden;
    position: relative;
    height: 102.4rem;

    .group-1-Hp9 {
      width: 79.4rem;
      height: 100%;
      display: flex;
      align-items: center;

      .features-2mj {
        color: #000000;
        font-family: DM Serif Display, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 13.4rem 5.05rem 0rem 0rem;
        max-width: 11.5rem;
        font-size: 11.5rem;
        font-weight: 400;
        line-height: 1.37;
      }
      .line-2-kBw {
        height: 66.8003rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 5.95rem 6.1rem 0rem;
        width: 0;
      }
      .features-Udj {
        margin-bottom: 6.1rem;
        width: 56.9rem;
        flex-shrink: 0;

        .auto-group-dmed-biM {
          display: flex;
          align-items: center;
          margin: 0rem 9.5rem 5.9rem 0rem;
          width: calc(100% - 9.5rem);

          .lock-KeM {
            margin-right: 5.8rem;
            width: 8.3rem;
            height: 7.4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .secured-by-256-bit-encryption-fCR {
            font-weight: 400;
            line-height: 1.37;
            color: #010029;
            font-family: DM Serif Display, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.9rem;
            font-size: 2.5rem;
          }
        }
        .auto-group-fgxp-kjf {
          margin: 0rem 0rem 5.5rem 1.889rem;
          width: calc(100% - 1.8888rem);
          display: flex;
          align-items: center;

          .item--GT7 {
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 7.6888rem;
            width: 4.5224rem;
            height: 7.4002rem;
            object-fit: contain;
          }
          .backed-by-ethereum-based-technology-bkH {
            flex-shrink: 0;
            margin-bottom: 1.9002rem;
            font-size: 2.5rem;
            font-weight: 400;
            line-height: 1.37;
            color: #010029;
            font-family: DM Serif Display, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .auto-group-epdb-KgH {
          display: flex;
          align-items: flex-start;
          margin: 0rem 17.8rem 4.4rem 0.494rem;
          width: calc(100% - 18.294rem);

          .approved-delivery-Sku {
            margin-right: 6.3929rem;
            width: 7.2131rem;
            height: 7.3rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .verifiable-transactions-aMK {
            white-space: nowrap;
            flex-shrink: 0;
            margin-top: 0.9rem;
            font-size: 2.5rem;
            font-weight: 400;
            line-height: 1.37;
            color: #010029;
            font-family: DM Serif Display, 'Source Sans Pro';
          }
        }
        .auto-group-nmnd-hRw {
          margin: 0rem 30.5rem 5.3rem 0.395rem;
          width: calc(100% - 30.8952rem);
          display: flex;
          align-items: center;

          .hand-cursor-Dv5 {
            width: 7.4107rem;
            height: 7.5rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 6.294rem;
          }
          .easy-to-use-ZU9 {
            flex-shrink: 0;
            margin-bottom: 2rem;
            font-size: 2.5rem;
            font-weight: 400;
            line-height: 1.37;
            color: #010029;
            font-family: DM Serif Display, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .auto-group-r6b7-6U5 {
          margin: 0rem 5rem 5rem 0.494rem;
          width: calc(100% - 5.494rem);
          display: flex;
          align-items: flex-start;

          .low-price-dD7 {
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 6.3929rem;
            width: 7.2131rem;
            height: 7.3rem;
            object-fit: contain;
          }
          .cheaper-than-ballot-voting-system-yGy {
            font-size: 2.5rem;
            font-weight: 400;
            line-height: 1.37;
            color: #010029;
            font-family: DM Serif Display, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-top: 0.9rem;
          }
        }
        .auto-group-nemj-VWD {
          margin: 0rem 19.3rem 0rem 0.494rem;
          width: calc(100% - 19.794rem);
          display: flex;
          align-items: center;

          .time-span-d6d {
            flex-shrink: 0;
            margin-right: 6.294rem;
            width: 7.3119rem;
            height: 7.4rem;
            object-fit: contain;
            vertical-align: top;
          }
          .faster-voting-process-AcM {
            font-family: DM Serif Display, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.9rem;
            font-size: 2.5rem;
            font-weight: 400;
            line-height: 1.37;
            color: #010029;
          }
        }
      }
    }
  }
  .about-gKo {
    width: 144rem;
    margin-bottom: 3.9rem;
    box-sizing: border-box;
    padding: 17.8rem 20rem 17.8rem 14.7rem;
    height: 102.4rem;
    overflow: hidden;
    position: relative;
    background-color: #001024;
    flex-shrink: 0;

    .group-2-PED {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;

      .about-8xV {
        font-size: 11.5rem;
        font-weight: 400;
        line-height: 1.37;
        color: #ffffff;
        font-family: DM Serif Display, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 0.4rem 3.2rem 0rem 0rem;
        max-width: 14.3rem;
      }
      .line-3-45T {
        margin-right: 4.6rem;
        width: 0;
        height: 66.8003rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .an-online-voting-system-that-will-replace-the-old-ballot-sytem-or-paper-system-over-the-time-we-have-utilized-the-required-technology-in-every-sector-to-improve-efficiency-and-save-the-extra-resources-but-the-voting-system-is-still-very-expensive-and-requires-a-bigger-workforce-the-system-is-slower-and-still-not-completely-tamper-proof-we-bring-the-system-that-is-safe-reliable-and-solve-the-modern-issues-like-higher-reachability-of-the-booth-crowd-free-voting-inexpensive-faster-results-and-others-1Fb {
        font-family: DM Serif Display, 'Source Sans Pro';
        flex-shrink: 0;
        margin-bottom: 2.3003rem;
        max-width: 87.2rem;
        font-size: 4rem;
        font-weight: 400;
        line-height: 1.37;
        color: #ffffff;
      }
    }
  }
  .steps-7C9 {
    margin-bottom: 3.4rem;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 11rem 22.9rem 11rem 18.2rem;
    width: 144rem;
    height: 102.4rem;
    overflow: hidden;
    position: relative;
    background-color: #ffffff;

    .group-3-RTj {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;

      .auto-group-hvtf-mGh {
        flex-shrink: 0;
        margin: 0rem 0rem 4.5rem 0.3rem;
        width: 102.6rem;
        height: 13.7rem;
        position: relative;

        .follow-these-easy-steps-5YH {
          font-weight: 400;
          line-height: 1.37;
          font-family: DM Serif Display, 'Source Sans Pro';
          width: 102.6rem;
          height: 13.7rem;
          top: 0;
          color: #000000;
          white-space: nowrap;
          position: absolute;
          left: 0;
          font-size: 10rem;
        }
        .line-4-zfF {
          width: 68.3016rem;
          height: 0.5rem;
          position: absolute;
          left: 0.5rem;
          top: 11.65rem;
          background-color: #015fc7;
        }
      }
      .steps-KSd {
        box-sizing: border-box;
        padding-bottom: 0.5813rem;
        width: 72.6rem;
        flex-shrink: 0;

        .auto-group-ucrb-EpV {
          margin: 0rem 0rem 4.745rem 1.3rem;
          width: calc(100% - 1.3rem);
          display: flex;
          align-items: center;

          .registration-1-ZLy {
            width: 9.5rem;
            height: 9.3rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 3.5rem;
          }
          .register-yourself-by-filling-the-required-informations-ggV {
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 2rem;
            font-size: 2.5rem;
            font-weight: 400;
            line-height: 1.37;
            color: #000000;
            font-family: DM Serif Display, 'Source Sans Pro';
          }
        }
        .auto-group-gw7s-zSH {
          margin: 0rem 43rem 6.155rem 1.263rem;
          width: calc(100% - 44.2632rem);
          display: flex;
          align-items: center;

          .ant-design-login-outlined-i7P {
            margin-right: 5.0628rem;
            width: 7.974rem;
            height: 7.8106rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .signin-as-user-3QZ {
            margin-bottom: 2rem;
            font-size: 2.5rem;
            font-weight: 400;
            line-height: 1.37;
            color: #000000;
            font-family: DM Serif Display, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .auto-group-sudb-Azy {
          margin: 0rem 23.7rem 5.51rem 1.91rem;
          width: calc(100% - 25.61rem);
          display: flex;
          align-items: flex-start;

          .dashicons-screenoptions-uBs {
            margin-right: 5.81rem;
            width: 6.58rem;
            height: 6.58rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .go-to-vote-option-on-dashboard-Ezq {
            font-family: DM Serif Display, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-top: 0.49rem;
            font-size: 2.5rem;
            font-weight: 400;
            line-height: 1.37;
            color: #000000;
          }
        }
        .auto-group-yr33-ZnD {
          display: flex;
          align-items: center;
          margin: 0rem 39.3rem 4.581rem 0.8rem;
          width: calc(100% - 40.1rem);

          .key-tpV {
            margin-right: 4.7rem;
            width: 8.8rem;
            height: 8.8rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .give-security-key-qUq {
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 2.1rem;
            font-size: 2.5rem;
            font-weight: 400;
            line-height: 1.37;
            color: #000000;
            font-family: DM Serif Display, 'Source Sans Pro';
          }
        }
        .auto-group-rmhp-aBX {
          margin-right: 23.2rem;
          width: calc(100% - 23.2rem);
          display: flex;
          align-items: center;

          .fa-solid-vote-yea-ujb {
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 2.7rem;
            width: 11.6rem;
            height: 8.1375rem;
            object-fit: contain;
          }
          .vote-your-candidate-and-submit-FHf {
            line-height: 1.37;
            color: #000000;
            font-family: DM Serif Display, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 2rem;
            font-size: 2.5rem;
            font-weight: 400;
          }
        }
      }
    }
  }
  .footer-jTj {
    overflow: hidden;
    position: relative;
    background-color: #001024;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 4.9rem 14.4rem 4.9rem 14.3rem;
    width: 144rem;
    height: 42.7rem;

    .group-15-f6V {
      height: 100%;
      display: flex;
      align-items: flex-start;
      width: 100%;

      .contact-1800-9090-32-1800-9000-64-helpline-number-9090-1234-46-9090-1234-47-email-complaintelectionindiagovin-infoelectionindiagovin-1RF {
        max-width: 25.3rem;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.37;
        color: #ffffff;
        font-family: DM Serif Display, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 2.9rem 3.6rem 0rem 0rem;

        .contact-1800-9090-32-1800-9000-64-helpline-number-9090-1234-46-9090-1234-47-email-complaintelectionindiagovin-infoelectionindiagovin-1RF-sub-0 {
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.37;
          color: #0587ff;
          font-family: DM Serif Display, 'Source Sans Pro';
        }
        
        .contact-1800-9090-32-1800-9000-64-helpline-number-9090-1234-46-9090-1234-47-email-complaintelectionindiagovin-infoelectionindiagovin-1RF-sub-2 {
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.37;
          color: #0587ff;
          font-family: DM Serif Display, 'Source Sans Pro';
        }
        
        .contact-1800-9090-32-1800-9000-64-helpline-number-9090-1234-46-9090-1234-47-email-complaintelectionindiagovin-infoelectionindiagovin-1RF-sub-4 {
          line-height: 1.37;
          color: #0587ff;
          font-family: DM Serif Display, 'Source Sans Pro';
          font-size: 1.8rem;
          font-weight: 400;
        }
      }
      .line-6-ZFj {
        margin-right: 6.8rem;
        width: 0.1rem;
        height: 31.0026rem;
        background-color: #9fc3ea;
        flex-shrink: 0;
      }
      .getin-register-login-hMw {
        color: #ffffff;
        font-family: Oswald, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 2.9rem 6.8rem 0rem 0rem;
        max-width: 5.5rem;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.4825;

        .getin-register-login-hMw-sub-0 {
          color: #0587ff;
          font-family: Oswald, 'Source Sans Pro';
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.4825;
          text-decoration-line: underline;
        }
        
      }
      .auto-group-iszf-d97 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 2.9rem 2.3rem 0rem 0rem;
        width: 19.1rem;
        align-items: center;

        .know-more-features-about-steps-wQh {
          font-family: Oswald, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 4.6rem 7.5rem 0rem;
          max-width: 7.3rem;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.4825;
          color: #ffffff;

          .know-more-features-about-steps-wQh-sub-0 {
            font-family: Oswald, 'Source Sans Pro';
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.4825;
            text-decoration-line: underline;
            color: #0587ff;
          }
          
        }
        .group-16-h2V {
          margin-bottom: 3.7rem;
          box-sizing: border-box;
          padding: 0rem 0.599rem 0rem 0.306rem;
          width: 100%;
          height: 4.9rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .ant-design-twitter-circle-filled-npd {
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 2.6057rem;
            width: 4.2875rem;
            height: 4.2875rem;
            object-fit: contain;
          }
          .bi-facebook-KJm {
            flex-shrink: 0;
            margin: 0rem 2.899rem 0.1rem 0rem;
            width: 4.8006rem;
            height: 4.8006rem;
            object-fit: contain;
            vertical-align: top;
          }
          .bxl-instagram-alt-ERj {
            margin-bottom: 0.1rem;
            width: 3.6016rem;
            height: 3.6076rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .group-12-qgR {
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 3.6rem 0rem 3.5rem;
          box-sizing: border-box;
          padding-left: 0.2844rem;
          width: calc(100% - 7.1rem);
          display: flex;

          .charm-copyright-m4H {
            margin-right: 0.2844rem;
            width: 2.0313rem;
            height: 2.0313rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .shankdesign-6MT {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.755;
            color: #ffffff;
            font-family: Pacifico, 'Source Sans Pro';
          }
        }
      }
      .follow-us-facebook-instagram-twitter-1DX {
        font-weight: 400;
        line-height: 1.4820000331;
        font-family: Oswald, 'Source Sans Pro';
        flex-shrink: 0;
        font-size: 1.8rem;
        max-width: 6.6rem;
        text-decoration-line: underline;
        color: #ffffff;
        margin: 3.3rem 7rem 0rem 0rem;

        .follow-us-facebook-instagram-twitter-1DX-sub-0 {
          color: #0587ff;
          font-family: Oswald, 'Source Sans Pro';
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.4825;
          text-decoration-line: underline;
        }
        .follow-us-facebook-instagram-twitter-1DX-sub-1 {
          line-height: 1.4825;
          text-decoration-line: underline;
          color: #ffffff;
          font-family: Oswald, 'Source Sans Pro';
          font-size: 1.8rem;
          font-weight: 400;
        }
      }
      .line-7-6eH {
        margin-right: 3.8rem;
        width: 0.1rem;
        height: 31.0026rem;
        background-color: #9fc3ea;
        flex-shrink: 0;
      }
      .group-14-EkV {
        height: calc(100% - 7.2rem);
        flex-shrink: 0;
        margin: 2.6rem 0rem 4.6rem 0rem;
        width: 28.3rem;

        .quick-feedback--Ae9 {
          font-weight: 400;
          line-height: 1.4825;
          color: #ffffff;
          font-family: Oswald, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 0.8rem;
          font-size: 1.8rem;
        }
        .group-13-K1F {
          display: flex;
          flex-direction: column;
          width: 100%;
          align-items: flex-end;

          .rectangle-41-GSH {
            flex-shrink: 0;
            margin-bottom: 0.8rem;
            width: 100%;
            height: 3.5rem;
            background-color: #e6e6e6;
          }
          .rectangle-42-QYV {
            margin-bottom: 1.4rem;
            width: 100%;
            height: 13rem;
            background-color: #e6e6e6;
            flex-shrink: 0;
          }
          .auto-group-nxdk-9ky {
            display: flex;
            align-items: center;
            background-color: #0587ff;
            flex-shrink: 0;
            margin-left: 18.3rem;
            box-sizing: border-box;
            padding: 0.3rem 1.5rem 0.5rem 1.801rem;
            width: calc(100% - 18.3rem);

            .carbon-send-alt-filled-U2Z {
              margin: 0.3rem 1.101rem 0rem 0rem;
              width: 2.3972rem;
              height: 2.4001rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .send-arH {
              flex-shrink: 0;
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.4825;
              color: #ffffff;
              font-family: Oswald, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
        }
      }
    }
  }
}
