
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.personalinfo-nUm {
  padding: 7.5rem 15.7rem 20.3rem 20rem;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #001024;

  .dashboardnavbar-71F {
    flex-shrink: 0;
    margin: 0rem 0rem 12.25rem 33.696rem;
    height: 3.85rem;
    display: flex;
    align-items: flex-start;
    border-radius: 0.5rem;

    .group-7-Rnd {
      box-sizing: border-box;
      padding: 0rem 0.004rem 0rem 0.004rem;
      width: 14.6085rem;
      height: 100%;
      font-size: 2.5rem;
      font-family: DM Serif Display, 'Source Sans Pro';
      border-bottom: solid 0.3rem #005ac7;
      margin-right: 8.9958rem;
      font-weight: 400;
      line-height: 1.37;
      color: #ffffff;
      white-space: nowrap;
      flex-shrink: 0;
    }
    .elections-sed {
      margin-right: 9.1rem;
      font-size: 2.5rem;
      font-weight: 400;
      line-height: 1.37;
      color: #ffffff;
      font-family: DM Serif Display, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .contact-c6R {
      color: #ffffff;
      white-space: nowrap;
      cursor: pointer;
      font-size: 2.5rem;
      line-height: 1.37;
      flex-shrink: 0;
      margin-right: 9.1rem;
      font-weight: 400;
      font-family: DM Serif Display, 'Source Sans Pro';
    }
    .votebutton-wPb {
      height: 3.5rem;
      position: relative;
      border-radius: 0.5rem;
      flex-shrink: 0;
      width: 14rem;

      .rectangle-22-gry {
        left: 0;
        top: 0;
        background-color: #015fc7;
        border-radius: 0.5rem;
        width: 14rem;
        height: 3.4rem;
        position: absolute;
      }
      .vote-pyB {
        font-weight: 400;
        color: #ffffff;
        font-family: DM Serif Display, 'Source Sans Pro';
        top: 0;
        font-size: 2.5rem;
        position: absolute;
        left: 4.5rem;
        line-height: 1.37;
        white-space: nowrap;
        width: 4.9rem;
        height: 3.5rem;
      }
    }
  }
  .profile-7xH {
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    margin-right: 11.5rem;
    width: calc(100% - 11.5rem);

    .auto-group-feum-sRf {
      margin-right: 17.5rem;
      width: 28.5rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .group-6-QgV {
        width: 28.5rem;
        height: 27.5994rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .auto-group-o4hb-ZJV {
        box-sizing: border-box;
        padding-top: 6.1006rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-vyx3-7L1 {
          line-height: 1.37;
          flex-shrink: 0;
          color: #ffffff;
          white-space: nowrap;
          width: 28.2rem;
          font-size: 1.8rem;
          font-weight: 400;
          align-items: center;
          background-color: #015fc7;
          margin-bottom: 6rem;
          height: 4.9rem;
          font-family: DM Serif Display, 'Source Sans Pro';
          display: flex;
          justify-content: center;
        }
        .auto-group-nkqo-Ap5 {
          flex-shrink: 0;
          margin: 0rem 10.7rem 0rem 3.6rem;
          width: calc(100% - 14.3rem);
          display: flex;
          align-items: flex-start;

          .vector-6hj {
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.7rem;
            width: 2.7rem;
            height: 2.7rem;
            object-fit: contain;
          }
          .edit-profile-qfK {
            flex-shrink: 0;
            margin-top: 0.1rem;
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.37;
            color: #ffffff;
            font-family: DM Serif Display, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
      }
    }
    .personalinfo-knH {
      flex-shrink: 0;
      margin-top: 0.8rem;
      width: 50.8rem;

      .auto-group-rnmt-hxR {
        row-gap: 3.6rem;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding-bottom: 3.6rem;
        width: 100%;

        .auto-group-wvxk-3WV {
          position: relative;
          flex-shrink: 0;
          width: 9.3rem;
          height: 5.2rem;

          .john-doe-PqF {
            line-height: 1.37;
            font-family: DM Serif Display, 'Source Sans Pro';
            width: 9.3rem;
            height: 3.2rem;
            position: absolute;
            font-size: 2.3rem;
            white-space: nowrap;
            left: 0;
            top: 2rem;
            font-weight: 400;
            color: #ffffff;
          }
          .name--h5F {
            line-height: 1.475;
            font-family: Padauk, 'Source Sans Pro';
            white-space: nowrap;
            width: 4.7rem;
            height: 2.7rem;
            font-weight: 400;
            font-size: 1.8rem;
            color: #015fc7;
            position: absolute;
            left: 0;
            top: 0;
          }
        }
        .auto-group-kdid-CXo {
          position: relative;
          flex-shrink: 0;
          width: 18.4rem;
          height: 5.2rem;

          .papa-john-doe-kJR {
            top: 2rem;
            font-size: 2.3rem;
            font-weight: 400;
            line-height: 1.37;
            color: #ffffff;
            font-family: DM Serif Display, 'Source Sans Pro';
            white-space: nowrap;
            position: absolute;
            height: 3.2rem;
            left: 0;
            width: 14.7rem;
          }
          .fathers-mothers-name--fRP {
            width: 18.4rem;
            position: absolute;
            left: 0;
            font-size: 1.8rem;
            line-height: 1.475;
            color: #015fc7;
            white-space: nowrap;
            height: 2.7rem;
            top: 0;
            font-weight: 400;
            font-family: Padauk, 'Source Sans Pro';
          }
        }
        .auto-group-ywu7-yBB {
          align-items: center;
          flex-shrink: 0;
          margin-right: 5.7rem;
          width: calc(100% - 5.7rem);
          height: 5.1rem;
          display: flex;

          .auto-group-2sxs-6mb {
            height: 100%;
            position: relative;
            flex-shrink: 0;
            margin-right: 27.1rem;
            width: 3.4rem;

            .item-19-dFj {
              height: 3.2rem;
              top: 1.9rem;
              line-height: 1.37;
              white-space: nowrap;
              font-family: DM Serif Display, 'Source Sans Pro';
              width: 2.1rem;
              position: absolute;
              left: 0;
              font-size: 2.3rem;
              font-weight: 400;
              color: #ffffff;
            }
            .age--Y7o {
              font-weight: 400;
              font-family: Padauk, 'Source Sans Pro';
              width: 3.4rem;
              position: absolute;
              top: 0;
              line-height: 1.475;
              color: #015fc7;
              white-space: nowrap;
              height: 2.7rem;
              left: 0;
              font-size: 1.8rem;
            }
          }
          .auto-group-aqdo-4M3 {
            width: 14.6rem;
            height: 100%;
            position: relative;
            flex-shrink: 0;

            .item-91-9191505010-RBb {
              width: 14.6rem;
              height: 3.2rem;
              line-height: 1.37;
              color: #ffffff;
              position: absolute;
              left: 0;
              top: 1.9rem;
              font-size: 2.3rem;
              font-weight: 400;
              font-family: DM Serif Display, 'Source Sans Pro';
              white-space: nowrap;
            }
            .mobile-number--XVX {
              font-weight: 400;
              line-height: 1.475;
              font-family: Padauk, 'Source Sans Pro';
              height: 2.7rem;
              left: 0.4rem;
              top: 0;
              color: #015fc7;
              white-space: nowrap;
              width: 11.7rem;
              position: absolute;
              font-size: 1.8rem;
            }
          }
        }
        .auto-group-ekrz-3Cy {
          width: 21.7rem;
          height: 5.2rem;
          position: relative;
          flex-shrink: 0;

          .johndoegmailcom-PXj {
            color: #ffffff;
            font-family: DM Serif Display, 'Source Sans Pro';
            white-space: nowrap;
            height: 3.2rem;
            position: absolute;
            top: 2rem;
            font-size: 2.3rem;
            width: 21.7rem;
            left: 0;
            font-weight: 400;
            line-height: 1.37;
          }
          .email--uFB {
            height: 2.7rem;
            position: absolute;
            font-size: 1.8rem;
            font-family: Padauk, 'Source Sans Pro';
            white-space: nowrap;
            width: 4.3rem;
            left: 0;
            top: 0;
            font-weight: 400;
            line-height: 1.475;
            color: #015fc7;
          }
        }
        .auto-group-vwkw-BiV {
          width: 19.8rem;
          height: 5.1rem;
          position: relative;
          flex-shrink: 0;

          .item-6100-4080-9126-0909-iCd {
            width: 19.8rem;
            height: 3.2rem;
            position: absolute;
            font-size: 2.3rem;
            font-weight: 400;
            font-family: DM Serif Display, 'Source Sans Pro';
            white-space: nowrap;
            left: 0;
            top: 1.9rem;
            line-height: 1.37;
            color: #ffffff;
          }
          .aadhar-number--xMs {
            line-height: 1.475;
            color: #015fc7;
            width: 12.1rem;
            height: 2.7rem;
            left: 0;
            top: 0;
            white-space: nowrap;
            position: absolute;
            font-size: 1.8rem;
            font-weight: 400;
            font-family: Padauk, 'Source Sans Pro';
          }
        }
      }
      .auto-group-geh3-eEh {
        margin-bottom: 3.6rem;
        width: 100%;
        height: 5.2rem;
        position: relative;

        .xyz-street-no-92-gurgaon-uttar-pardesh-100021-zJZ {
          left: 0;
          font-size: 2.3rem;
          font-weight: 400;
          font-family: DM Serif Display, 'Source Sans Pro';
          width: 50.8rem;
          position: absolute;
          line-height: 1.37;
          color: #ffffff;
          white-space: nowrap;
          height: 3.2rem;
          top: 2rem;
        }
        .address-gBP {
          position: absolute;
          font-size: 1.8rem;
          line-height: 1.475;
          color: #015fc7;
          white-space: nowrap;
          width: 6.1rem;
          height: 2.7rem;
          left: 0;
          top: 0;
          font-weight: 400;
          font-family: Padauk, 'Source Sans Pro';
        }
      }
      .auto-group-2bgy-anZ {
        display: flex;
        align-items: flex-end;
        margin-right: 14.4rem;
        width: calc(100% - 14.4rem);
        height: 5.1rem;

        .auto-group-gxf3-Ved {
          margin-right: 25rem;
          width: 5.5rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .true-SZs {
            position: absolute;
            left: 0;
            font-weight: 400;
            line-height: 1.37;
            color: #ffffff;
            white-space: nowrap;
            height: 3.2rem;
            top: 1.9rem;
            font-size: 2.3rem;
            font-family: DM Serif Display, 'Source Sans Pro';
            width: 4.9rem;
          }
          .eligible--m6M {
            color: #015fc7;
            font-family: Padauk, 'Source Sans Pro';
            white-space: nowrap;
            width: 5.5rem;
            height: 2.7rem;
            position: absolute;
            left: 0;
            font-weight: 400;
            top: 0;
            font-size: 1.8rem;
            line-height: 1.475;
          }
        }
        .auto-group-9hv7-UmT {
          position: relative;
          flex-shrink: 0;
          width: 5.9rem;
          height: 5rem;

          .true-EVj {
            font-weight: 400;
            font-family: DM Serif Display, 'Source Sans Pro';
            width: 4.9rem;
            height: 3.2rem;
            position: absolute;
            line-height: 1.37;
            color: #ffffff;
            white-space: nowrap;
            left: 0.4rem;
            top: 1.8rem;
            font-size: 2.3rem;
          }
          .verified--wuw {
            height: 2.7rem;
            position: absolute;
            line-height: 1.475;
            color: #015fc7;
            font-family: Padauk, 'Source Sans Pro';
            width: 5.9rem;
            left: 0;
            top: 0;
            font-size: 1.8rem;
            font-weight: 400;
            white-space: nowrap;
          }
        }
      }
    }
  }
}
