
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.registration-page-Jr1 {
  display: flex;
  align-items: center;
  background-color: #001024;
  box-sizing: border-box;
  padding: 10.7rem 31.5rem 10.8rem 14.3rem;
  width: 100%;
  overflow: hidden;
  position: relative;

  .figure-zyj {
    margin: 0rem 22.9rem 12.3rem 0rem;
    width: 39.2rem;
    height: 66.6rem;
    position: relative;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
  }
  .registration-form-JzR {
    width: 36.1rem;
    height: 80.9rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .registration-form-2fX {
      line-height: 1.37;
      color: #ffffff;
      font-family: DM Serif Display, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 0.8rem 3.8rem 0rem;
      font-size: 4.5rem;
      font-weight: 400;
    }
    .auto-group-brxu-jK3 {
      width: 100%;
      height: 6.9rem;
      position: relative;
      flex-shrink: 0;
      margin-bottom: 1.1rem;

      .rectangle-10-fyP {
        width: 36.1rem;
        height: 4.3rem;
        position: absolute;
        left: 0;
        top: 2.6rem;
        background-color: #ffffff;
      }
      .name-c7w {
        width: 4.8rem;
        height: 3rem;
        position: absolute;
        left: 0;
        top: 0;
        font-size: 2rem;
        font-weight: 400;
        font-family: Padauk, 'Source Sans Pro';
        line-height: 1.475;
        color: #ffffff;
        white-space: nowrap;
      }
    }
    .auto-group-ebkh-tLM {
      position: relative;
      flex-shrink: 0;
      margin-bottom: 1.1rem;
      width: 100%;
      height: 6.9rem;

      .rectangle-11-nRj {
        height: 4.3rem;
        position: absolute;
        left: 0;
        top: 2.6rem;
        background-color: #ffffff;
        width: 36.1rem;
      }
      .date-of-birth-HtH {
        white-space: nowrap;
        width: 11rem;
        left: 0;
        font-size: 2rem;
        color: #ffffff;
        line-height: 1.475;
        font-family: Padauk, 'Source Sans Pro';
        height: 3rem;
        position: absolute;
        top: 0;
        font-weight: 400;
      }
    }
    .auto-group-mivk-PwK {
      flex-shrink: 0;
      margin-bottom: 1.1rem;
      width: 100%;
      height: 6.9rem;
      position: relative;

      .rectangle-12-wT3 {
        width: 36.1rem;
        height: 4.3rem;
        position: absolute;
        left: 0;
        top: 2.6rem;
        background-color: #ffffff;
      }
      .fathers-mothers-name-srV {
        width: 20.1rem;
        position: absolute;
        top: 0;
        font-weight: 400;
        white-space: nowrap;
        height: 3rem;
        left: 0;
        font-size: 2rem;
        line-height: 1.475;
        color: #ffffff;
        font-family: Padauk, 'Source Sans Pro';
      }
    }
    .auto-group-xg13-Mmf {
      width: 100%;
      height: 6.9rem;
      position: relative;
      flex-shrink: 0;
      margin-bottom: 1.1rem;

      .rectangle-13-uYH {
        width: 36.1rem;
        height: 4.3rem;
        position: absolute;
        left: 0;
        top: 2.6rem;
        background-color: #ffffff;
      }
      .email-FMF {
        white-space: nowrap;
        width: 4.4rem;
        position: absolute;
        left: 0;
        top: 0;
        font-size: 2rem;
        line-height: 1.475;
        height: 3rem;
        font-weight: 400;
        color: #ffffff;
        font-family: Padauk, 'Source Sans Pro';
      }
    }
    .auto-group-iqn9-ZMw {
      height: 6.9rem;
      position: relative;
      flex-shrink: 0;
      margin-bottom: 1.1rem;
      width: 100%;

      .rectangle-14-WHB {
        background-color: #ffffff;
        width: 36.1rem;
        height: 4.3rem;
        position: absolute;
        left: 0;
        top: 2.6rem;
      }
      .mobile-no-eeH {
        line-height: 1.475;
        color: #ffffff;
        height: 3rem;
        top: 0;
        left: 0;
        font-size: 2rem;
        font-weight: 400;
        font-family: Padauk, 'Source Sans Pro';
        white-space: nowrap;
        width: 8.8rem;
        position: absolute;
      }
    }
    .auto-group-akb7-B8R {
      margin-bottom: 1.1rem;
      width: 100%;
      height: 6.9rem;
      position: relative;
      flex-shrink: 0;

      .rectangle-15-83f {
        left: 0;
        top: 2.6rem;
        background-color: #ffffff;
        width: 36.1rem;
        height: 4.3rem;
        position: absolute;
      }
      .password-fpH {
        font-family: Padauk, 'Source Sans Pro';
        white-space: nowrap;
        position: absolute;
        left: 0;
        top: 0;
        font-weight: 400;
        line-height: 1.475;
        color: #ffffff;
        width: 7.9rem;
        height: 3rem;
        font-size: 2rem;
      }
    }
    .auto-group-mtyd-zLm {
      margin-bottom: 1.1rem;
      width: 100%;
      height: 6.9rem;
      position: relative;
      flex-shrink: 0;

      .rectangle-16-jJM {
        position: absolute;
        left: 0;
        top: 2.6rem;
        background-color: #ffffff;
        width: 36.1rem;
        height: 4.3rem;
      }
      .re-enter-password-sQZ {
        width: 15.9rem;
        position: absolute;
        left: 0;
        font-size: 2rem;
        color: #ffffff;
        white-space: nowrap;
        height: 3rem;
        top: 0;
        font-weight: 400;
        line-height: 1.475;
        font-family: Padauk, 'Source Sans Pro';
      }
    }
    .auto-group-b3ad-P81 {
      height: 6.9rem;
      position: relative;
      flex-shrink: 0;
      margin-bottom: 3.7rem;
      width: 100%;

      .rectangle-17-JVs {
        width: 36.1rem;
        height: 4.3rem;
        position: absolute;
        left: 0;
        top: 2.6rem;
        background-color: #ffffff;
      }
      .aadhar-number-S6H {
        color: #ffffff;
        font-family: Padauk, 'Source Sans Pro';
        width: 13.1rem;
        left: 0;
        top: 0;
        font-weight: 400;
        line-height: 1.475;
        white-space: nowrap;
        height: 3rem;
        position: absolute;
        font-size: 2rem;
      }
    }
    .auto-group-tpuy-kcm {
      height: 4.3rem;
      align-items: center;
      background-color: #015fc7;
      line-height: 1.475;
      color: #ffffff;
      flex-shrink: 0;
      justify-content: center;
      margin: 0rem 9rem 0rem 9.1rem;
      width: calc(100% - 18.1rem);
      font-size: 2rem;
      font-weight: 700;
      white-space: nowrap;
      font-family: Padauk, 'Source Sans Pro';
      display: flex;
      border-radius: 0.5rem;
    }
  }
}
